# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
*.iml
*.iws
*.ipr
*.class
*.log*.log*.log
auto_video_study/build/
auto_video_study/chromedrivers/
auto_video_study/chromedriver
auto_video_study/chromedriver.exe
auto_video_study/chrome-mac-arm64/
auto_video_study/dist/