# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
*.iml
*.iws
*.ipr
*.class
*.log*.log*.log
auto_video_study/build/
auto_video_study/chromedrivers/
auto_video_study/chromedriver
auto_video_study/chromedriver.exe
auto_video_study/chrome-mac-arm64/
auto_video_study/dist/
AI/Diffusion_GAN/data/
AI/diffusionGan/data/
AI/diffusionGan/ir_images/
AI/diffusionGan/output/
AI/diffusionGan/visible_images/
导出数据/
/video_download/chrome-mac-arm64/
/video_download/chromedrivers/
/video_download/downloads/
/chrome-ext/node_modules/
/build/
/dist/
/scapers/example_spider/build/
/scapers/example_spider/build/
/scapers/example_spider/example_spider/build/
/venv/
/wechat/.wechaty/
*.txt
*.log
*.log*.log*.log
*.keras
scapers/result/housing rights/*.txt
scapers/result/housing rights/*.log
scapers/result/housing rights/*.err
StateAnalysis/data/*
StateAnalysis/train_data/*
StateAnalysis/evalulate_data/*
StateAnalysis/test_data/*



/sql_injection_app.zip
/sql_injection_app 2.zip
/weather_forecast/split_nc_file/target/
/wechat/newclip2001-2010.zip
/wechat/newclip2011-2020.zip
/StateAnalysis02/evaluation_data/
/StateAnalysis02/train_data/
/StateAnalysis01/evaluation_data/
/StateAnalysis01/prediction_data/
/StateAnalysis01/train_data/
/StateAnalysis /cnn_data/
/StateAnalysis /train_data/
/sql_injection_app/myvenv/lib/
/sql_injection_app/myvenv/
/scapers/example_spider/build/
/scapers/example_spider/build/lib/
/scapers/example_spider/example_spider/build/
/scapers/example_spider/example_spider/dist/
/SatMotion/CNN+LSTM+ATTENTION 单输入/
/SatMotion/CNN+LSTM+ATTENTION 双输入/
/SatMotion/cnn_data/
/SatMotion/predict_data/
/SatMotion/saved_model/
/other/
/chrome-ext/
